.hero {
    background-image: url(../../assets/pictures/decade-with-mars-hero.jpg);
    background-position: center;
}
@media (max-width: 576px) {
    .hero {
        background-image: url(../../assets/pictures/mobile-decade-with-mars-hero.jpg); 
    }
}