.hero {
  background-image: url('../../assets/pictures/rocket-landed.png');
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 1300px;
  height: 630px;
  padding-top: 48px;
  background-repeat: no-repeat;
  background-position-y: 94%;
}
@media (min-width: 1200px) {
  .hero {
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .hero {
    background-size: cover;
  }
}
#film-club img.head-icon {
  width: 192px;
}
#film-club img.big-circle {
  width: 260px;
  border-radius: 50%;
}
#film-club .video {
  height: 600px;
}
@media (max-width: 768px) {
  #film-club .video {
    height: 300px;
  }
}
#film-club .spotlight-avatar {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: solid 7px white;
}
@media (max-width: 576px) {
  #film-club .spotlight-avatar {
    height: 98px;
    width: 98px;
  }
}
#film-club img.head-icon {
  width: 192px;
}
#film-club .spotlight-avatar {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: solid 7px white;
}
@media (max-width: 576px) {
  #film-club .spotlight-avatar {
    height: 98px;
    width: 98px;
  }
}
#film-club .ed-marsh {
  background-image: url('../../assets/pictures/partners-edward-marshall-trust.png');
  background-size: cover;
  background-position: right;
  background-size: 140%;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: -19px;
}
#film-club h5 {
  padding-top: .8rem;
}
#film-club small {
  color: white;
}
@media (min-width: 768px) {
  .nudge-left {
    padding-right: 9rem;
  }
  .nudge-right {
    padding-left: 9rem;
  }
}
#film-club .crazy-table-position {
  position: relative;
  left: 1rem;
}
#film-club .big-quote {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}
@media (max-width: 576px) {
  #film-club .big-quote {
    text-align: center;
  }
}
#film-club .card {
  width: 310px;
  height: 310px;
  box-shadow: 3px 3px 5px #0000004d;
}
#contact.contact {
  padding-bottom: 3rem;
  background-color: #F0CA4D;
}
#contact  .contact-wrapper {
  max-width: 400px;
}
#contact h2, #contact p {
  color: white;
}
