.hero {
  width: 100%;
  background-image: url('../../assets/pictures/hero-building-a-martian-house.png');
  display: flex;
  flex-direction: column;
  /* Start fixed settings */
  /*background-size: cover;*/
  background-size: 1300px;
  /*height: 600px;*/
  height: 630px;
  background-attachment: fixed;
  padding-top: 48px;
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-position: 70% 10%;
  /* End fixed settings */
}
@media (min-width: 1200px) {
  .hero {
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .hero {
    background-size: cover;
  }
}
.hero .donate-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 99px;
}
.hero .donate-wrapper button {
  background-color: #14B278;
  border: none;
  color: white;
  padding: .2rem 1rem;
  margin-right: 1.5rem;
  border-radius: 5px;
  border: 1px solid white;
}
.hero h1.banner {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: .8rem 0;
  color: #F0CA4D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 576px) {
  .hero h1.banner {
    font-size: 1.5rem;
  }
}
.hero .quote-wrapper {
  height: 100%;
  align-items: flex-end;
  display: flex;
}
.hero .quote-wrapper h6 {
  color: #14B278;
  width: 310px;
  background: white;
  padding: .9rem;
  margin: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}