.hero {
  background-image: url('../../assets/pictures/the-launches-sunrise.png');
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 1300px;
  height: 630px;
  padding-top: 48px;
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-width: 1200px) {
  .hero {
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .hero {
    background-size: cover;
  }
}
#the-launches .intro-image {
  overflow: hidden;
  background-image: url('../../assets/pictures/the-launches-launch.jpg');
  background-position: top;
  background-size: 240px;
  background-repeat: no-repeat;
  height: 381px;
}
#the-launches .gallery {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 460px;
  margin-top: 1.5rem;
  height: 300px;
  position: relative;
}
#the-launches .pic-one {
  background-image: url('../../assets/pictures/the-launches-celebration.jpg');
  background-position: 50% 75%;
}
#the-launches .pic-two {
  background-image: url('../../assets/pictures/the-launches-news.png');
  background-position: top;
}
#the-launches .pic-three {
  background-image: url('../../assets/pictures/the-launches-above-park.png');
  background-position: center;
}
#the-launches .pic-four {
  background-image: url('../../assets/pictures/the-launches-earth-curve.png');
  background-position: center;
}
#the-launches .med-image-two {
  height: 330px;
  overflow: hidden;
}
#the-launches .med-image-two img {
  position: relative;
  top:  -30%;
  width: 100%;
}
#the-launches .med-image-three {
  height: 330px;
  overflow: hidden;
}
#the-launches .med-image-three img {
  position: relative;
  width: 100%;
}
#the-launches img.head-icon-sm {
  width: 92px;
  height: 92px;
}
#the-launches .icon-wrapper {
  justify-content: center;
  align-items: center;
}
#the-launches img.head-icon-lg {
  width: 262px;
}
#the-launches img.big-circle {
  width: 260px;
  border-radius: 50%;
}
#the-launches .video {
  height: 600px;
}
@media (max-width: 768px) {
  #the-launches .video {
    height: 300px;
  }
}
#the-launches .spotlight-avatar {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: solid 7px white;
}
@media (max-width: 576px) {
  #the-launches .spotlight-avatar {
    height: 98px;
    width: 98px;
  }
}
#the-launches .spotlight-avatar {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: solid 7px white;
}
@media (max-width: 576px) {
  #the-launches .spotlight-avatar {
    height: 98px;
    width: 98px;
  }
}
#the-launches h5 {
  padding-top: .8rem;
}
#the-launches small {
  color: white;
}
@media (min-width: 768px) {
  .nudge-left {
    padding-right: 9rem;
  }
  .nudge-right {
    padding-left: 9rem;
  }
}
#the-launches .crazy-table-position {
  position: relative;
  left: 1rem;
}
#the-launches .big-quote {
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}
@media (max-width: 576px) {
  #the-launches .big-quote {
    text-align: center;
  }
}
#the-launches .card {
  width: 310px;
  height: 310px;
  box-shadow: 3px 3px 5px #0000004d;
}
#contact.contact {
  padding-bottom: 3rem;
  background-color: #F0CA4D;
}
#contact  .contact-wrapper {
  max-width: 400px;
}
#contact h2, #contact p {
  color: white;
}
