.hero {
  background-image: url('../../assets/pictures/total-eclipse-window-sign.jpg');
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding-top: 48px;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 576px) {
  .hero {
    background-image: url('../../assets/pictures/mobile-total-eclipse-window-sign.jpg');
  }
}