*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
@font-face {
  font-family: avenirNextBold;
  src:  url('../assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf');
}
@font-face {
  font-family: avenirNext;
  src:  url('../assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: avenirNextItalic;
  src:  url('../assets/fonts/avenir-next/AvenirNextLTPro-It.otf');
}
@font-face {
  font-family: dinAlt;
  src:  url('../assets/fonts/din-alternate/DINRegularAlternate.ttf');
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h2, h3, h4, h5, h6, small {
  margin: 0;
  font-family: avenirNext;
  font-weight: normal;
  color: #324D5C;
}

p {
  font-family: avenirNext;
  font-weight: normal;
  color: #324D5C;
  font-size: 1.1rem;
}
 
h1 {
  margin: 0;
  font-size: 4rem;
  font-family: dinAlt;
  font-weight: 500;
  color: #324D5C;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5rem;
}
.white {
  color: white;
}
button {
  color: white;
  font-size: 1rem;
}

h3 {
  font-family: dinAlt;
  font-weight: 700;
  font-size: 1.6rem;
}

h5 {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

h6 {
  font-family: avenirNextItalic;
  font-style: italic;
  font-size: 1.2rem;
}

a {
  color: #e24a4a;
}

a:hover {
  cursor: pointer;
}

/* When it comes to styling the fonts add 
the exact fonts, sizes and weight of each 
font to the h tags and p tag so that you
don't have to add a class or anything for
the correct fonts, they'll just be globally
attached to the correct tag as default 

Currently the fonts are:

h1 - The main banner font "Building a Martian House"
h2 - "Project Partners and Funders" (also "Donate").
h3 - Elevator pitch font
h4 - "Project Timeline" text, this will be light weight
	 and also used for the side panel headings. (multi-sized)
h5 - Partner names (bold capitals).
h6 - This could be the quote font in italics (we'll 
	 make this multi-sized as it'll be used for the
	 conversation quote as well).

We might need a seperate class for the Ella&Nicki brand.
That's ok because it'll only be used once.

p - About description next to Ella and Nicki's avatar.

p = font-family: 'Rubik', sans-serif;
    font-weight: lighter;

^^ Also good for all smaller h tags. I don't like it 
for the main heading though.

*/

/* The following two classes will fix all
your styling guud */
.body-container {
  max-width: 780px;
  padding-bottom: 7rem;
  padding-top: 7rem;
}
.padder {
  /* display: flex; */
  padding-top: 3rem;
}
.middler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* This is a nice green background */
.green {
  background-color: #14B278;
}
.weak-center {
  text-align: center;
}
.weak-right {
  text-align: right;
}
img.avatar {
  width: 150px;
  border-radius: 50%;
}