#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: none;
  overflow: hidden;
  outline: 0;

  overflow-x: hidden;
  overflow-y: auto;

  /* display: block; */

  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  transition: background-color .5s;
}

#modal #modal-dialogue {
 /*  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;

  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%);

  max-width: 500px;
  margin: 1.75rem auto;

  min-height: calc(100% - (1.75rem * 2)); */

  width: 80%;
  max-width: 560px;
  position: relative;
  top: -400px;
  transition: all .5s;
  opacity: 0;
}

@media(max-width: 576px) {
  #modal .modal-dialogue {
    width: 100%;
  }
}



#modal .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

#modal .modal-body {
  width: 100%;
  padding: 3rem;
}

#modal .modal-body p.payment-icon-wrapper, #modal .modal-body h2 {
  text-align: center;
}

#modal .modal-body h2 {
  margin-bottom: 2rem;
}

#modal .modal-body p img {
  height: 230px;
  margin-top: -26px;
}

#modal input {
  margin-bottom: 1rem;
  margin-left: .5rem;
  width: 100px;
}

#modal .modal-close {
  text-align: right;
  position: relative;
  bottom: 25px;
  left: 20px;
}

/* Opening Animations */
.modal-open {
  overflow: hidden;
}
#modal #modal-dialogue.modal-scroll-view {
  top: 0px;
  opacity: 1;
}
#modal.fade-in {
  background-color: #00000073;
}
/* End Animations */

#modal .paypal-buttons {
  /* padding: 3rem; */
}

#modal #donation-amt {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  float: right;
  clear: both;
}
